@import "_btn.scss";
@import "_colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  font-size: 62.5%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8rem;
  padding-right: 8rem;
  height: 100%;
}
#btn-mobile {
  display: none;
}
header {
  nav {
    background-color: white;
    position: fixed;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3rem;
    .menu-list {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 5rem;
      justify-content: space-between;
    }
    div {
      gap: 3rem;
      display: flex;
      flex-direction: row;
    }
    .text-logo {
      width: 23rem;
      color: #fbc443;
      font-weight: 700;
      font-size: 2.4rem;
      text-transform: uppercase;
      &:hover {
        filter: brightness(0);
        transition: 0.3s;
      }
    }
    li {
      a {
        &:hover {
          color: #fbc443;
          text-shadow: 0 1px 1px #ffb3004b;
        }
      }
    }
    a {
      text-decoration: none;
    }
    li,
    a {
      align-items: center;
      display: inline-flex;
      list-style-type: none;
      font-size: 1.8rem;
      color: $dark-blue;
      transition: 0.3s;
      text-shadow: 0 1px 1px #2c334417;
    }
  }
}

img {
  width: 20rem;
}
.section-hero {
  z-index: 1;
  text-align: center;
  height: 70rem;
  width: 100%;
  background-image: url("/assets/img/hero-geometric-1.png"),
    url("/assets/img/hero-geometric-2.png");
  background-repeat: no-repeat;
  background-position-y: 1%, 100%;
  background-position-x: 0%, 100%;
  background-size: 30%;
  .content-hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-hero {
    gap: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    font-weight: 500;
    font-size: 4.8rem;
  }
  p {
    display: flex;
    align-self: center;
    max-width: 44rem;
    font-size: 2rem;
  }
}

.section-special-features {
  padding: 10rem 0;
  h2 {
    font-size: 3.2rem;
  }
  h2,
  p {
    font-weight: 400;
    text-align: center;
  }
  p {
    font-size: 1.8rem;
  }
}
.cards-special-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  margin-top: 6rem;
  .card-special-features {
    height: 43.6rem;
    &:hover {
      .geometric-special-features {
        transform: rotate(360deg);
      }
    }
  }
  .wraper-special-features {
    background-color: $dark-blue;
    height: 27rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .geometric-special-features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    transition: 0.6s ease-in-out 0s;
    background-color: #fff;
  }
  .geometric-1 {
    border-radius: 0.8rem;
  }
  .geometric-2 {
    border-radius: 48%;
  }
  .geometric-4 {
    border-radius: 2rem;
  }
  .content-special-features {
    padding: 2.4rem;
    display: flex;
    background-color: #f4f4ed;
    flex-direction: column;
    justify-content: space-between;
    height: 16rem;
    h3 {
      font-size: 2rem;
      font-weight: 400;
      color: $dark-blue;
    }
    a {
      text-decoration: none;
      font-size: 1.4rem;
      color: $dark-blue;
      transition: 0.3s;
      &:hover {
        color: $yellow;
        transform: scale(1.1);
        margin-left: 1rem;
      }
    }
  }
}
.section-testimonial {
  &.--testimonial-2 {
    background-color: #fff;
    background-image: unset;
  }
  background-color: #f4f4ed;
  background-image: url("/assets/img/testimonial-geometric.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 23%;
  background-position-y: bottom;
  padding: 13rem 0;
  .content-testimonial {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .paragraph-testimonial {
    font-size: 2.4rem;
  }
  .paragraph-autor-testimonial {
    font-size: 1.4rem;
  }
  .circle-testimonial {
    border-radius: 50%;
    background-color: $dark-blue;
    width: 4rem;
    height: 4rem;
  }
}
.section-blog {
  padding: 6rem 0;
  background-color: #f4f4ed;

  .row-1 {
    display: flex;
    height: 37rem;
    p {
      font-size: 1.4rem;
    }
    a {
      text-decoration: none;
      font-size: 1.8rem;
    }
    p,
    a,
    h3 {
      color: #fff;
    }
    a {
      &:hover {
        color: $yellow;
      }
    }
    h3 {
      font-size: 4.8rem;
      font-weight: 400;
    }
    .col-1 {
      background-color: #fbc443;
      width: 30%;
    }
    .post-content {
      gap: 1.6rem;
      display: flex;
      flex-direction: column;
      max-width: 50rem;
    }
    .col-2 {
      background-color: $dark-blue;
      width: 70%;
      padding: 5rem 8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .row-2 {
    display: flex;
    gap: 3rem;
    justify-content: center;
    .card-post {
      width: 57rem;
      padding: 5rem;
      gap: 1.6rem;
      display: flex;
      background-color: #fff;
      flex-direction: column;
    }
    h4 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.8rem;
    }
    a {
      color: $dark-blue;
      text-decoration: none;
      font-size: 1.4rem;
      &:hover {
        color: $yellow;
      }
    }
  }
}
.section-contact {
  padding: 12rem 0;
  background-color: #f4f4ed;
  p {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    .form-inputs {
      flex-direction: column;
      display: flex;
      gap: 1.6rem;
    }
    input,
    button {
      width: 36rem;
      border-radius: 0.5rem;
      padding: 2rem 2.5rem;
      height: 6rem;
    }
    input::placeholder {
      color: $dark-blue;
      font-size: 2rem;
    }
    input {
      border: 0.1rem solid $dark-blue;
      outline: 0;
      &:hover {
        border: 0.1rem solid #fbc443;
      }
    }
  }
}
.container {
  &.--blog {
    gap: 4rem;
    display: flex;
    flex-direction: column;
  }
}
footer {
  background-image: url("/assets/img/footer-geometric-left.png"),
    url("/assets/img/footer-geometric-right.png");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 0%, 100%;
  background-size: 25%;
  padding-top: 8rem;
  .row-1 {
    gap: 5rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      gap: 5rem;
      align-items: center;
    }
    li {
      list-style-type: none;
      text-align: center;
    }
    a {
      font-size: 1.4rem;
      text-decoration: none;
      font-weight: 700;
      color: $dark-blue;
      transition: 0.3s;
      &:hover {
        color: $yellow;
      }
    }
    .footer-link-logo {
      font-size: 2.4rem;
      text-transform: uppercase;
    }
  }
  .line {
    width: 100%;
    color: $dark-blue;
    border: 0.1rem solid $dark-blue;
  }
  .circles {
    display: flex;
    gap: 2.4rem;
  }
  .circle {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid $dark-blue;
    border-radius: 50%;
  }
  .footer-copyright {
    margin-top: 6rem;
    justify-content: center;
    display: flex;
    gap: 1.2rem;
    a,
    p {
      text-decoration: none;
      color: $dark-blue;
      font-size: 1.4rem;
    }
    a {
      transition: 0.3s;
      &:hover {
        color: $yellow;
      }
    }
  }
  .row-2 {
    height: 14rem;
  }
}
@media screen and (max-width: 1000px) {
  header {
    nav {
      .menu-list {
        gap: 1.5rem;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
      }
    }
    .menu {
      right: 0;
      top: 5rem;
    }
    .menu-list,
    .menu-list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      top: 6rem;
      right: 0;
      color: #000;
      background-color: #fff;
      transition: 0.5s;
      z-index: 1000;
      height: 0;
      visibility: hidden;
      overflow-y: hidden;
    }

    .nav-menu.active .menu-list {
      height: 50rem;
      visibility: visible;
      overflow-y: auto;
      padding: 2.5rem 0;
    }

    .menu-list a {
      padding: 1rem 0;
      margin: 0 1rem;
    }

    #btn-mobile {
      display: flex;
      padding: 0.5rem 2rem;
      font-size: 1rem;
      background: none;
      border: none;
      cursor: pointer;
      gap: 1.5rem;
      position: absolute;
      right: 0;
      top: 2.5rem;
    }

    #hamburguer {
      border-top: 2px solid $dark-blue;
      width: 30px;
    }

    #hamburguer::before,
    #hamburguer::after {
      content: "";
      display: block;
      position: relative;
      width: 30px;
      height: 2px;
      margin-top: 5px;
      border-top: 5px;
      background-color: $dark-blue;
      transition: 0.5s ease;
    }

    .nav-menu.active #hamburguer {
      border-top: transparent;
    }

    .nav-menu.active #hamburguer::before {
      transform: rotate(135deg);
    }

    .nav-menu.active #hamburguer::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

  .section-blog {
    .row-1 {
      h3 {
        font-size: 4.2rem;
      }
    }
  }

  .cards-special-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  .card-special-features {
    width: 40%;
  }
  footer {
    .row-1 {
      .footer-ul {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
      .footer-link-logo {
        font-size: 1.8rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .section-blog,
  .section-contact,
  .section-special-features,
  .section-testimonial,
  .section-hero,
  footer {
    padding: 5rem 0;
  }
  .card-special-features {
    width: 26rem;
  }
  .section-blog {
    .row-1 {
      flex-direction: column;
      height: 40rem;
      a {
        font-size: 1.4rem;
      }
      h3 {
        font-size: 3rem;
      }
      .col-1 {
        height: 35%;
      }
      .col-2 {
        padding: 3rem;
        height: 65%;
      }
      .col-1,
      .col-2 {
        width: 100%;
      }
    }
    .row-2 {
      flex-direction: column;
      .card-post {
        width: unset;
        padding: 3rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .section-testimonial,
  .section-hero {
    background-image: unset;
  }
  .section-hero {
    height: unset;
    .content-hero {
      padding-top: 6rem;
    }
    h1 {
      font-size: 4rem;
    }
    .text-hero {
      gap: 5rem;
    }
  }
  .section-blog {
    .row-2 {
      .card-post {
        padding: 2rem;
      }
      h4 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
  .section-testimonial {
    .paragraph-testimonial {
      font-size: 2rem;
    }
  }
  .section-special-features p {
    margin-top: 2rem;
  }
  .container {
    padding: 0 3rem;
  }
  .cards-special-features {
    margin-top: 4rem;
    gap: 4rem;
    .wraper-special-features {
      height: 24rem;
    }
    .card-special-features {
      width: 80%;
      height: unset;
    }
  }

  .section-contact {
    form {
      input::placeholder,
      button {
        font-size: 1.6rem;
      }
      .form-inputs,
      input,
      button {
        width: 100%;
      }
    }
  }
  footer {
    .footer-copyright {
      margin-top: 4rem;
    }
    nav {
      padding: unset;
    }
    .row-1 {
      gap: 4rem;
    }
    .row-2 {
      height: 4rem;
    }
  }
}
