@import "_btn.scss";
@import "_colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  font-size: 62.5%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8rem;
  padding-right: 8rem;
  height: 100%;
}
nav {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  h2 {
    color: #fbc443;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    &:hover {
      filter: brightness(0);
      transition: 0.3s;
    }
  }
  .nav-left {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
  ul {
    align-content: center;
    display: flex;
    gap: 3.2rem;
  }
  a {
    text-decoration: none;
  }
  li,
  a {
    align-items: center;
    display: inline-flex;
    list-style-type: none;
    font-size: 1.8rem;
    color: #2c3344;
  }
}

img {
  width: 20rem;
}
.section-hero {
  z-index: 1;
  text-align: center;
  height: 70rem;
  width: 100%;
  background-image: url("/assets/img/hero-geometric-1.png"),
    url("/assets/img/hero-geometric-2.png");
  background-repeat: no-repeat;
  background-position-y: 1%, 100%;
  background-position-x: 0%, 100%;
  background-size: 30%;
  .content-hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-hero {
    gap: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    font-weight: 500;
    font-size: 4.8rem;
  }
  p {
    display: flex;
    align-self: center;
    max-width: 44rem;
    font-size: 2rem;
  }
}

.section-special-features {
  padding: 10rem 0;
  h2 {
    font-size: 3.2rem;
  }
  h2,
  p {
    font-weight: 400;
    text-align: center;
  }
  p {
    font-size: 1.8rem;
  }
}
.cards-special-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  margin-top: 6rem;
  .card-special-features {
    height: 43.6rem;
  }
  .wraper-special-features {
    background-color: #2c3344;
    height: 27rem;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .geometric-special-features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
  }
  .geometric-1 {
    border-radius: 0.8rem;
  }
  .geometric-2 {
    border-radius: 50%;
  }
  .geometric-4 {
    border-radius: 2rem;
  }
  .content-special-features {
    padding: 2.4rem;
    display: flex;
    background-color: #f4f4ed;
    flex-direction: column;
    justify-content: space-between;
    height: 16rem;
    h3 {
      font-size: 2rem;
      font-weight: 400;
      color: #2c3344;
    }
    a {
      text-decoration: none;
      font-size: 1.4rem;
      color: #2c3344;
    }
  }
}
.section-testimonial {
  &.--testimonial-2 {
    background-color: #fff;
    background-image: unset;
  }
  background-color: #f4f4ed;
  background-image: url("/assets/img/testimonial-geometric.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 23%;
  background-position-y: bottom;
  padding: 13rem 0;
  .content-testimonial {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .paragraph-testimonial {
    font-size: 2.4rem;
  }
  .paragraph-autor-testimonial {
    font-size: 1.4rem;
  }
  .circle-testimonial {
    border-radius: 50%;
    background-color: #2c3344;
    width: 4rem;
    height: 4rem;
  }
}
.section-blog {
  padding: 6rem 0;
  background-color: #f4f4ed;

  .row-1 {
    display: flex;
    height: 37rem;
    p {
      font-size: 1.4rem;
    }
    a {
      text-decoration: none;
      font-size: 1.8rem;
    }
    p,
    a,
    h3 {
      color: #fff;
    }
    h3 {
      font-size: 4.8rem;
      font-weight: 400;
    }
    .col-1 {
      background-color: #fbc443;
      width: 30%;
    }
    .post-content {
      gap: 1.6rem;
      display: flex;
      flex-direction: column;
      max-width: 50rem;
    }
    .col-2 {
      background-color: #2c3344;
      width: 70%;
      padding: 5rem 8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .row-2 {
    display: flex;
    gap: 3rem;
    justify-content: center;
    .card-post {
      width: 57rem;
      padding: 5rem;
      gap: 1.6rem;
      display: flex;
      background-color: #fff;
      flex-direction: column;
    }
    h4 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.8rem;
    }
    a {
      color: #2c3344;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}
.section-contact {
  padding: 12rem 0;
  background-color: #f4f4ed;
  p {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    .form-inputs {
      flex-direction: column;
      display: flex;
      gap: 1.6rem;
    }
    input,
    button {
      width: 36rem;
      border-radius: 0.5rem;
      padding: 2rem 2.5rem;
      height: 6rem;
    }
    input::placeholder {
      color: #2c3344;
      font-size: 2rem;
    }
    input {
      border: 0.1rem solid #2c3344;
      outline: 0;
      &:hover {
        border: 0.1rem solid #fbc443;
      }
    }
  }
}
.container {
  &.--blog {
    gap: 4rem;
    display: flex;
    flex-direction: column;
  }
}
footer {
  background-image: url("/assets/img/footer-geometric-left.png"),
    url("/assets/img/footer-geometric-right.png");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 0%, 100%;
  background-size: 25%;
  padding-top: 8rem;
  .row-1 {
    gap: 5rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    a {
      font-size: 1.4rem;
      font-weight: 700;
    }
    .footer-link-logo {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  .line {
    width: 100%;
    color: #2c3344;
    border: 0.1rem solid #2c3344;
  }
  .circles {
    display: flex;
    gap: 2.4rem;
  }
  .circle {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #2c3344;
    border-radius: 50%;
  }
  .footer-copyright {
    margin-top: 6rem;
    justify-content: center;
    display: flex;
    gap: 1.2rem;
    a,
    p {
      text-decoration: none;
      color: #2c3344;
      font-size: 1.4rem;
    }
  }
  .row-2 {
    height: 14rem;
  }
}
@media screen and (max-width: 1200px) {
  nav {
    display: none;
  }

  .cards-special-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  .card-special-features {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .card-special-features {
    width: 26rem;
  }
}

@media screen and (max-width: 450px) {
  .section-blog,
  .section-contact,
  .section-special-features,
  .section-testimonial,
  .section-hero {
    padding: 5rem 0;
  }
  .section-testimonial,
  .section-hero {
    background-image: unset;
  }
  .section-hero {
    height: unset;

    h1 {
      font-size: 4rem;
    }
    .text-hero {
      gap: 5rem;
    }
  }
  .section-special-features p {
    margin-top: 2rem;
  }
  .container {
    padding: 0 3rem;
  }
  .cards-special-features {
    margin-top: 4rem;
    gap: 4rem;
    .wraper-special-features {
      height: 24rem;
    }
    .card-special-features {
      width: 80%;
      height: unset;
    }
  }
  .section-blog {
    display: none;
  }
  .section-contact {
    form {
      input::placeholder,
      button {
        font-size: 1.6rem;
      }
      .form-inputs,
      input,
      button {
        width: 100%;
      }
    }
  }
}
